body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif
}

.row {
    display: flex;
}

.mapColumn {
    flex: 2;
}

.panelColumn {
    flex: 1;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 0 0 25%;
  /*padding: 10px;*/
  display: flex;
  align-items: flex-end;
}
